/* Write your global styles here, in PostCSS syntax */
@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@layer utilities {
    .homepage-gradient {
        background: linear-gradient(354deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(99,102,241,1) 44%, rgba(168,85,247,1) 73%, rgba(236,72,153,1) 100%);
    }
}
